@{
    ViewBag.Title = "Error";
}

<div class="text-center" style="text-align: center;">
    <h1>Error</h1>
    <h2 style="color: red;">@ViewBag.ErrorMessage</h2>

    <img src="~/error.svg" width="500px" style="margin-top:100px" />
</div>