<!DOCTYPE html>

<html>

	<head>
		<title> Configration Page </title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="~/css/site.css" />


	</head>
	<body>
	<div class="container">
		<h1> Home</h1>
	</div>

	<div class="box">
		<div>@ViewBag.ClientId</div>
		<div>@ViewBag.ClientSecret</div>
	</div>
	</body>
	

</html>